<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>

<div class="bg-img">
    <br>
    <h1 style="text-align: center; font-family:Georgia, 'Times New Roman', Times, serif;"><b>Login</b></h1>
    <br>
    <br>
<div class="container">
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" class="form-group" novalidate>

        <div class="input-group">
        <span class="input-group-addon"><i class ="glyphicon glyphicon-user"></i></span>
        <input type="text" placeholder="Enter Username" ngModel name="username" #username=ngModel class="form-control" required minlength=2 maxlength="20"><br>
        </div>

        <div class = "input-group">
        <span class ="input-group-addon"><i class ="glyphicon glyphicon-lock"></i></span>
        <input type = "password" placeholder= "Enter Password" ngModel name="password" #password = ngModel class = "form-control" required minlength=2 maxlength="20"><br>
        </div>
        <div class="center">
        <button class="btn btn-primary" [disabled] = "!loginForm.valid">Submit</button>
        <br>
        <br>
        <a routerLink="/register" class="anchorlink">Don't have an account?</a>
        </div>
    </form>
    
    <div class = "text-danger">
    <div *ngIf="username.errors?.required && username.touched">Enter data in name field</div>
    <div *ngIf="username.errors?.minlength && username.touched">Enter data in name field atleast 4 chars</div>
    
    <div *ngIf="password.errors?.required && password.touched">Enter data in password field</div>
    <div *ngIf="password.errors?.minlength && password.touched">Enter data in password field atleast 4 chars</div>
    </div>
   
    </div>
</div>