<!-- <mat-toolbar color="blue">
    <span>Nutrition Blogs</span>
</mat-toolbar>
<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/fenugreek.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Why Fenugreek Should be Your Kitchen Staple</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/vitamins.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">10 Healthy Foods To Turn to When You're Stressed</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/Fibre.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">8 Kinds of Fibre: Which Do You Need?</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/gluten free.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Gluten Free Diet Plan Recipes</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/diabetics.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Recipes for Diabetics</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/c&h.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Cheap and Healthy Recipes</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/Whole food.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Whole Food Recipes</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/dairy free bf.png"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Dairy Free Breakfast Recipes</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/Fruits.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">9 Fruits That Won't Spike Your Blood Glucose</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/acv1.jpeg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Does Apple Cider Vineger Live Up To The Hype?</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/sucrose.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Everything You Need To know About Sucrose</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/sugars.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">7 Ways To Navigate Sugar On Holiday Season</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!DOCTYPE html>
<html>
<body>
<div class="parent">

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="1S3998B6BjI"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="366">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Cheap and Healthy Recipes</h1>
    </div>
    </div>
  </div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="Jfy71Lp-8MA"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="286">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Dairy Free Breakfast Recipes</h1>
    </div>
    </div>
  </div>
</div>

<div class="child">
  <div class="body-review">
<div class="col">
  <div class="card h-100">
    <youtube-player 
    videoId="h7RyzY9nhiY"
    suggestedQuality="highres" 
    [height]="250" 
    [width]="500" 
    [startSeconds]="4"
    [endSeconds]="426">
  </youtube-player>
  </div>
  <div class="card-body">
    <h1 class="card-title">Gluten Free Recipes</h1>
  </div>
  </div>
</div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="CG2NFxKE4C8"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="214">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Food Containing Fibres</h1>
    </div>
    </div>
  </div>
</div>

<div class="child">
  <div class="body-review">
<div class="col">
  <div class="card h-100">
    <youtube-player 
    videoId="xb8lz1OeNvA"
    suggestedQuality="highres" 
    [height]="250" 
    [width]="500" 
    [startSeconds]="4"
    [endSeconds]="860">
  </youtube-player>
  </div>
  <div class="card-body">
    <h1 class="card-title">Diabetic Recipes</h1>
  </div>
  </div>
</div>
</div>

<div class="child">
  <div class="body-review">
<div class="col">
  <div class="card h-100">
    <youtube-player 
    videoId="64nUoF3NLKc"
    suggestedQuality="highres" 
    [height]="250" 
    [width]="500" 
    [startSeconds]="4"
    [endSeconds]="538">
  </youtube-player>
  </div>
  <div class="card-body">
    <h1 class="card-title">Whole Food Recipes</h1>
  </div>
  </div>
</div>
</div>

<div class="child">
  <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="Tz864hRlDLc"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="188">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Why Fenugreek Should be your Kitchen Staple</h1>
    </div>
    </div>
  </div>
  </div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="r-sX4heBTVE"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="72">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Healthy foods to turn to when you're Stressed</h1>
    </div>
    </div>
  </div>
  </div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="eVmrwzpoicQ"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="597">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Tips to stay on track this holiday season</h1>
    </div>
    </div>
  </div>
</div>

<div class="child">
  <div class="body-review">
<div class="col">
  <div class="card h-100">
    <youtube-player 
    videoId="OlR43nqCB_E"
    suggestedQuality="highres" 
    [height]="250" 
    [width]="500" 
    [startSeconds]="4"
    [endSeconds]="444">
  </youtube-player>
  </div>
  <div class="card-body">
    <h1 class="card-title">Fruits that won't spike your Blood Glucose</h1>
  </div>
  </div>
</div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="d6Qy5_nLkWY"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="96">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Foods containing Sucrose</h1>
    </div>
    </div>
  </div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="JkRBwFrAoA8"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="195">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Does Apple Cider Vinegar live up to the hype?</h1>
    </div>
    </div>
  </div>
</div>

</div>
</body>
</html>

