<mat-toolbar color="blue">
    <span>Yoga Asanas</span>
</mat-toolbar>

<!-- <div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/Adho Mukha Svanasana.PNG"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Adho Mukha Svanasana</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div> 
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/Ardha Matsyendrasana.PNG"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Ardha Matsyendrasana</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/Ardhachakrasana.PNG"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Ardhachakrasana</h3>
          <a href="Ardhachakrasana.html" class="btn btn-primary">View</a>
          <!-- <a href="project/src/app/yoga/Ardhachakrasana.html" class="btn btn-primary">View</a> -->
        <!-- </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/Badhakonasana.PNG"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Badhakonasana</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/Bhujangasana.PNG"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Bhujangasana</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/Dhanurasana.PNG"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Dhanurasana</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/Eka Pada Raja Kapotasana.PNG"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Eka Pada Raja Kapotasana</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/Garudasana.PNG"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Garudasana</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/Pavanamuktasana.PNG"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Pavanamuktasana</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/sukhasana.PNG"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">sukhasana</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/Vajrasana.PNG"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Vajrasana</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/Vakrasana.PNG"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Vakrasana</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</div>  -->



<!DOCTYPE html>
<html>
<body>
<div class="parent">
  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="ZdggFRtM3V0"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="341">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Sukhasana</h1>
    </div>
    </div>
  </div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="02c6EtA2eGc"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="701">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Dhanurasana</h1>
    </div>
    </div>
  </div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="SWXIx5Sy4Qw"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="277">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Utkatasana</h1>
    </div>
    </div>
  </div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="83Sg4WCzOPY"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="479">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Garudasana</h1>
    </div>
    </div>
  </div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="NKhkIS0bwSU"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="569">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Vrikshasana</h1>
    </div>
    </div>
  </div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="95qZC_avhqk"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="336">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Badhakonasana</h1>
    </div>
    </div>
  </div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="VPG3L4KNff4"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="481">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Padmasana</h1>
    </div>
    </div>
  </div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="76_GXwhBFkw"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="321">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Vasisthasana</h1>
    </div>
    </div>
  </div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="1MDMXrOu7Kg"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="297">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Ardha Matsyendrasana</h1>
    </div>
    </div>
  </div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="VxVv3lQB5jk"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="399">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Bhujangasana</h1>
    </div>
    </div>
  </div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="3LakhpDZH_M"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="558">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Virabhadrasana</h1>
    </div>
    </div>
  </div>
</div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="RT49ffFyg9Y"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="412">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Adho Mukha Svanasana</h1>
    </div>
    </div>
  </div>
</div>

</div>
</body>
</html>