<mat-toolbar color="blue">
    <span>Fitness</span>
</mat-toolbar>
<!--
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/warmup.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">12 Best Warmup Exercises</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/stretching.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">8 Relaxing Total Body Stretches</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/no gym workout.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">No Gym Workout </h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/pre workout meal.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Pre Fitness/Workout Meals</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/interval training workout.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Quick and Short Interval Training Workouts</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/slow strength training.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Why is Slow Strength Training Better Than Traditional Methods?</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/cardio.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">11 Fun Cardio Workouts</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/aerobics cover pic.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Aerobic Exercises</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/Images/finding a good trainer.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Finding a Good Trainer</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</div>

 -->


 <!DOCTYPE html>
<html>
<body>
<div class="parent">
  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
    <youtube-player 
      videoId="CSrBaHX3HxQ"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="404">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Warm up exercises</h1>
    </div>
    </div>
  </div>
  </div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="VWj8ZxCxrYk"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="1059">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Best Cardio Exercises you can do anywhere</h1>
    </div>
    </div>
  </div>
  </div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="KsYUVCZzheQ"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="577">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">8 Relaxing total body stretches</h1>
    </div>
    </div>
  </div>
  </div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="jWCm9piAwAU"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="598">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">9 minute HIIT Workout for Beginners</h1>
    </div>
    </div>
  </div>
  </div>

  <!-- <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="-5ztdzyQkSQ"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="2077">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Full body strength training workout</h1>
    </div>
    </div>
  </div>
  </div> -->

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="mUns8O4YL5M"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="1412">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Full body strength training workout</h1>
    </div>
    </div>
  </div>
  </div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="xx-N5bgUgtU"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="1643">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Full body Aerobic workout at home</h1>
    </div>
    </div>
  </div>
  </div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="IT94xC35u6k"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="1337">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">Fat Burning home workout</h1>
    </div>
    </div>
  </div>
  </div>

  <div class="child">
    <div class="body-review">
  <div class="col">
    <div class="card h-100">
      <youtube-player 
      videoId="C8-LdoVDvAo"
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      [startSeconds]="4"
      [endSeconds]="322">
    </youtube-player>
    </div>
    <div class="card-body">
      <h1 class="card-title">5 things to know before hiring a good trainer</h1>
    </div>
    </div>
  </div>
  </div>

</div>
</body>
</html>